/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 /*Pseudo-classes*/
 
 /*Generics*/
 body{
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
    min-height: 180px;
 }
 header{
    width: 100%;
    height: 90px;
    background-color: #080b12;
    position: fixed;
    top: 0;
 }
a{
    text-decoration: none;
}
main{
    background-color: aquamarine;
    padding-left: 60px;
    margin-top: 90px;
    margin-bottom: 90px;
}
footer{
    background-color: #282828;
    height: 90px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    object-fit: cover;
    height: 100%;
}
ul{
    list-style: none;
}
li{
    font-size: 20px;
}
/*Utilties*/
.btn{
    display: flex;
    justify-content: right;
    
}
.time_line{
    width: 70%;
    height: 3px;
    background-color: #5a5a5a;
    border-radius: 5px;
}
.white_text{
    color: white;
    padding-top: 0;
}
.grey-color{
    color: #5a5a5a;
}
.conteiner{
    border: solid black 1px;
}
/*Header*/
#bt_head{
    margin-right: 5px;
    margin-top: 24px;
    border: solid white 1px;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    color: white;
    font-weight: bold;
    height: 42px;
}
/*left navbar*/
.left_nav{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 56px;
    height: calc(100vh - 90px);
    background-color: black;
    position: fixed;
    top: -90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.left_nav:first-child{
    margin-top: 90px;
}
.nav_square{
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}
.nav_square .fa-solid {
    line-height: 40px;
}
.nav_square .fa-brands{
    line-height: 40px;
    padding-left: 3px;
}
.fa-download{
    padding-left: 10px;
}
.fa-user-large{
    padding-top: 10px;
    padding-left: 3px;
}
/*left navbar LARGE*/
.left_large_navbar{
    padding-top: 110px;
    padding-bottom: 10px;
    width: 38%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: -90px;
    color: white;
    display: none;
}
.l_nb{
    color: #ffffff;
    width: 100%;
    height: 50px;
    padding: 15px;
}
#logo_size{
    width: 200px;
    margin-left: 10px;
}
.left_large_navbar .fa-solid{
    padding-right: 10px;
}
.hom{
    font-weight: bold;
}
.space-word{
    padding-left: 8px;
}
.l_nb2{
    color: #ffffff;
    width: 100%;
    height: 50px;
    padding-left: 15px;
}
.l_nb-name{
    color: #ffffff;
    width: 100%;
    height: 30px;
    padding: 15px;
}
#cros_square{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #5a5a5a;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    position: relative;
    line-height: 40px;
}
#add_playlist{
    position: relative;
    bottom: 15px;
    left: 5px;
    color: #5a5a5a;
    font-weight: bold;
}
.playlist_conteiner{
    height: calc(100vh - 100px);
    overflow: auto;
}
.info_account{
    width: 100%;
    height: 100px;
}
.info_conteined1{
    margin: auto;
    height: 50%;
    width: 90%;
    border-bottom: solid #5a5a5a 1px;
    color: #5a5a5a;
    padding: 20px 5px 5px 5px;
}
.info_conteined2{
    margin: auto;
    height: 50%;
    width: 90%;
    color: #ffffff;
    padding: 10px 5px 5px 10px;
}



@media screen and (min-width:639px){
    .left_large_navbar{display: block;width: 260px;}
     main{margin-left: 210px;}
    .info_account{margin-top: 230px;}

}
@media screen and (min-width:878px){
    .left_large_navbar{display: block;width: 330px;}
    main{margin-left: 280px;}
    .info_account{margin-top: 230px;}
}
/*top nav*/
.flex_nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
}
.nav_col{
    font-size: 14.5px;
}

/*Footer*/
.foot_section{
    height: 50px;
    width: calc(100% / 3);
}
.center_now{
    padding-left: 5px;
}
.now_play{
    display: flex;
    gap: 3px;
}
.now_fig{
    float: right;
    padding-right: 5px;
}
.foot_now{
    height: 100%;
    width: calc(100% / 3);
}
#title_song{
    font-size: 10px;
    color: white;
}
.icon_square{
    height: 50%;
    width: 100%;
}
.large_f-s{
    height: 80px;
}
.flex_player{
    display: flex;
    justify-content: center;
    align-items: center;
}
.play_sup{
    height: calc(100% / 2);
    width: 100%;
}
.play_sup .fa-solid{
    padding-top: 20px;
    margin: auto;
}
.play_sup .fa-regular{
    padding-top: 20px;
}
.square_play{
    width: calc(100% / 5);
    height: 100%;
    text-align: center;
}
.space_time_line{
    margin-top: 10px;
    gap: 5px;
}
.minute{
    font-size: 12px;
    color: white;
}
.section_option{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.foot_option{
    width: calc(100% / 6);
    height: 100%;
    height: 100%;
}
.foot_option .fa-solid{
    line-height: 50px;
}
.time_vol{
    display: inline-block;
    width: calc(100% / 2.5);
}

@media screen and (min-width:878px){
    .foot_option{width: 40px;}
    .foot_now{width: 100px;}
    .square_play{width: 100px;}
}
