/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 /*Pseudo-classes*/
 
 /*Generics*/
 body{
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
    min-height: 180px;
 }
 header{
    height: 90px;
    background-color: #080b12;
 }
a{
    text-decoration: none;
}
footer{
    background-color: #282828;
    height: 90px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
/*Utilties*/
.btn{
    display: flex;
    justify-content: right;
    
}
/*Header*/
#bt_head{
    margin-right: 5px;
    margin-top: 24px;
    border: solid white 1px;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    color: white;
    font-weight: bold;
    height: 42px;
}

/*left navbar*/
.left_nav{
    width: 56px;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: -90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left_nav:first-child{
    margin-top: 100px;

}
.nav_square{
    border: solid white 1px;
    height: 40px;
    width: 40px;
}
.nav_square .fa-solid {
    line-height: 40px;
}
.nav_square .fa-brands{
    line-height: 40px;
    padding-left: 3px;
}
/*Footer*/


