/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 /*Pseudo-classes*/
 
 /*Generics*/
 body{
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
 }
 header{
    height: 90px;
    background-color: #080b12;
 }
a{
    text-decoration: none;
}
/*Utilties*/
.btn{
    display: flex;
    justify-content: right;
    
}
#bt_head{
    margin-right: 5px;
    margin-top: 24px;
    border: solid white 1px;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    color: white;
    font-weight: bold;
    height: 42px;
}
 /*Header*/
